.content-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
    flex-direction: column;
}

.content-cards h1 {
    color: rgb(0, 0, 0);
}

.cards {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap; /* Permite que as cartas se organizem em linhas conforme o espaço */
}

.card {
    background-color: #e2dfdf;
    padding: 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-style: normal;
    color: rgb(0, 0, 0);
    display: flex;
    gap: 35px;
    flex-direction: column;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
}

.img-cards {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.418));
}

/* Responsividade */

/* Para telas menores que 1024px */
@media (max-width: 1024px) {
    .cards {
        gap: 50px; /* Diminui o espaçamento entre as cartas */
    }

    .card {
        width: 250px;
        height: 250px; /* Reduz o tamanho das cartas */
    }

    .img-cards {
        width: 120px;
        height: 120px; /* Reduz o tamanho das imagens */
    }
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
    .cards {
        flex-direction: column; /* Cartas empilhadas em coluna */
        gap: 30px; /* Menos espaço entre elas */
    }

    .card {
        width: 80%; /* Ocupa maior parte da largura da tela */
        height: auto;
    }

    .img-cards {
        width: 100px;
        height: 100px; /* Ajuste nas imagens para caber melhor em telas menores */
    }
}
