/* Remove a rolagem horizontal globalmente */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Garante que não haja rolagem horizontal */
    height: 100%; /* Garante que o body ocupe toda a altura da viewport */
}

/* Seção hero */
#hero {
    background: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    min-height: 90vh; /* Garantir que a altura seja flexível */
    display: flex;
    position: relative;
    overflow: hidden; /* Garante que não haja rolagem horizontal interna */
}

/* Imagem dentro da seção hero */
#hero > img {
    position: absolute;
    right: 0;
    height: 60%;
    max-width: 100%; /* Limita a largura da imagem à viewport */
    padding-left: 30%;
    object-fit: cover; /* Garante que a imagem se ajuste corretamente */
}

/* Conteúdo dentro da seção hero */
#hero .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}

/* Ajuste de layout do conteúdo */
#hero .content > div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;
}

/* Ajustes para telas maiores que 1280px */
@media (min-width: 1280px) {
    #hero {
        background: var(--bg-color);
        border-top: none;
    }

    #hero > img {
        top: 0;
        height: 82%;
        padding-left: 55%;
    }
}

/* Ajustes de conteúdo */
.content p {
    width: 80%;
    align-self: center;
}

.content {
    gap: 2.5rem;
}

.content > div :first-child {
    width: 10.625rem;
}

.content p:first-of-type {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

.tittle {
    z-index: 5;
    margin-top: 100px;
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    #hero {
        min-height: 100vh;
    }

    #hero > img {
        height: 50%;
        padding-left: 20%;
    }

    .content {
        gap: 1.5rem;
    }
}
